<style type="text/css" media="all">
        body {
            background-color: #daefff;
        }
        #logo {
            width: 80%;
        }
        .form-signin {
            position: absolute;
            width: 30%;
            height: 50%;
            top: 15%;
            left: 35%;
        }
        .form-signin-heading {
            text-align: center;
        }
        .form-signin * {
            margin: 2% auto;
        }
        .btn-logar {
            width: 100%;
        }
</style>