body {
    background-color: #daefff;
    padding-top: 70px;
}

#logoNav {
	height: 50px;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #00aeef;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #8cc63e;
}

.bs-glyphicons {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
}

.bs-glyphicons-list {
	list-style: none;
	text-decoration: none;
	color: black;
}

.bs-glyphicons-list a {
	text-decoration: none;
	color: black;
}

.bs-glyphicons-list li {
	background-color: rgb(249, 249, 249);
	float: left;
	margin: 3px;
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 30%;
	cursor: pointer;
	border-radius: 5%;
}

.bs-glyphicons-list li .fa {
	font-size: 500%;
	margin: 10px 0 20px;
	text-align: center;
	top: 1px;
}

.bs-glyphicons-list li:hover {
	background-color: #7d9cdb;
	color: white;
}

.glyphicon-class {
	display: block;
	text-align: center;
}

.btn-logo {
	padding-right: 60px;
}

.pager li{
	display: inline;
}

.pager li>a, .pager li>span {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0px 20px;
  padding: 15px 20px;
}

.pager li>a:focus, .pager li>a:hover {
  text-decoration: none;
  background-color: #fff;
}

.pager span {
  margin-right: 15px;
  margin-left: 5px;
}